.width-a {
    width: 100%;
}

.form-style {
    border: 1px solid #bebebe;
    border-radius: 4px;
    padding: 10px 5px;
    background: white;
}

.no-border {
    border: none;
    width: 100%;
}

.form-margin {
    margin: 0 20%;
}

.date-picker-a {
    padding: 10px 5px;
    border: 1px solid #bebebe;
    border-radius: 6px;
    background: white;
}

.form-submit-btn {
    margin: 15px 0;
    width: 100%;
}

.heading {
    font-size: 1.3rem;
    text-align: center;
    font-weight: 500;
}

.margin-a {
    font-size: 0.9rem;
    font-weight: 500;
    line-height: 2;
    color: #545454;
}