<div class="pdf-a">
    <button mat-raised-button color="primary" (click)="downloadAs(listOf)">Download PDF</button>
</div>
<div class="main-container">
    <div class="example-container-header">
        <h2>Header</h2>

        <div cdkDropList #todoList="cdkDropList" [cdkDropListData]="header" [cdkDropListConnectedTo]="[doneList]" class="example-list" (cdkDropListDropped)="drop($event)">
            <div class="example-box" *ngFor="let item of header" cdkDrag>{{item.name}}</div>
        </div>
    </div>

    <div class="example-container-content">
        <h2>Content</h2>
        <div #listOf>
            <div cdkDropList #doneList="cdkDropList" [cdkDropListData]="content" [cdkDropListConnectedTo]="[todoList]" (cdkDropListDropped)="drop($event)">
                <div class="lists-a" *ngFor="let item of content ; index as i">
                    <div class="delete-btn">
                        <button mat-raised-button class="btn-change" color="primary" (click)="deleteItem(i)"><i
                class="material-icons icon-a">
                delete_outline</i></button>
                        <button mat-raised-button class="btn-change" color="warn"><i class="material-icons icon-a">
                edit</i></button>
                    </div>
                    <div>
                        <app-query-form [queryForm]="item"></app-query-form>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<!-- <div *ngSwitchCase="'comparison_engagement'">
    <app-area-chart [data]="item['data']"></app-area-chart>
</div>
<div *ngSwitchCase="'comparison_platform'">
    <app-pie-chart [data]="item['data']"></app-pie-chart>
</div>
<div *ngSwitchCase="'comparison_trend'">
    <app-donut-chart [data]="item['data']"></app-donut-chart>
</div>
<div *ngSwitchCase="'posts'">
    <app-donut-chart [data]="item['data']"></app-donut-chart>
</div>
<div *ngSwitchCase="'engagement_distribution'">
    <app-donut-chart [data]="item['data']"></app-donut-chart>
</div>
<div *ngSwitchCase="'engagement_summary'">
    <app-donut-chart [data]="item['data']"></app-donut-chart>
</div>
<div *ngSwitchCase="'engagement_trend'">
    <app-donut-chart [data]="item['data']"></app-donut-chart>
</div>
<div *ngSwitchCase="'activity'">
    <app-donut-chart [data]="item['data']"></app-donut-chart>
</div> -->